@using BTL_WEB.Constant
@{
    var pageInfo = ViewData["PageInfo"] as Models.Layout.GetForLayout;
    var indexInfo = ViewData["IndexInfo"] as Models.Layout.IndexModel;
}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div id="hot-post" class="row hot-post">
            <div class="col-md-8 hot-post-left">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="/@Constant.para.News/@indexInfo.Top7PostNew[0].Url"><img src="@indexInfo.Top7PostNew[0].Image" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="/Category/@indexInfo.Top7PostNew[0].UrlCate">@indexInfo.Top7PostNew[0].NameCate</a>
                        </div>
                        <h3 class="post-title title-lg"><a href="/@Constant.para.News/@indexInfo.Top7PostNew[0].Url">@indexInfo.Top7PostNew[0].Title</a></h3>
                        <ul class="post-meta">
                            <li><a href="#">Admin</a></li>
                            <li>@indexInfo.Top7PostNew[0].UpdatedDate</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4 hot-post-right">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="/@Constant.para.News/@indexInfo.Top7PostNew[1].Url"><img src="@indexInfo.Top7PostNew[1].Image" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="/Category/@indexInfo.Top7PostNew[1].UrlCate">@indexInfo.Top7PostNew[1].NameCate</a>
                        </div>
                        <h3 class="post-title"><a href="/@Constant.para.News/@indexInfo.Top7PostNew[1].Url">@indexInfo.Top7PostNew[1].Title</a></h3>
                        <ul class="post-meta">
                            <li><a href="#">Admin</a></li>
                            <li>@indexInfo.Top7PostNew[1].UpdatedDate</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="/@Constant.para.News/@indexInfo.Top7PostNew[2].Url"><img src="@indexInfo.Top7PostNew[2].Image" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="/Category/@indexInfo.Top7PostNew[2].UrlCate">@indexInfo.Top7PostNew[2].NameCate</a>
                        </div>
                        <h3 class="post-title"><a href="/@Constant.para.News/@indexInfo.Top7PostNew[2].Url">@indexInfo.Top7PostNew[2].Title</a></h3>
                        <ul class="post-meta">
                            <li><a href="#">Admin</a></li>
                            <li>@indexInfo.Top7PostNew[2].UpdatedDate</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Recent posts</h2>
                        </div>
                    </div>
                    <!-- post -->
                    @for (var i = 3; i < 7; i++)
                    {
                        <div class="col-md-6">
                            <div class="post">
                                <a class="post-img" href="/@Constant.para.News/@indexInfo.Top7PostNew[i].Url"><img src="@indexInfo.Top7PostNew[i].Image" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="/Category/@indexInfo.Top7PostNew[i].UrlCate">@indexInfo.Top7PostNew[i].NameCate</a>
                                    </div>
                                    <h3 class="post-title"><a href="/@Constant.para.News/@indexInfo.Top7PostNew[i].Url">@indexInfo.Top7PostNew[i].Title</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="#">ADMIN</a></li>
                                        <li>@indexInfo.Top7PostNew[i].UpdatedDate</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- /post -->


                </div>
                <!-- /row -->
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Lifestyle</h2>
                        </div>
                    </div>
                    <!-- post -->
                    @for (var i = 0; i < 3; i++)
                    {
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="/@Constant.para.News/@indexInfo.Top9PostByCate[i].Url"><img src="@indexInfo.Top9PostByCate[i].Image" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="/Category/@indexInfo.Top9PostByCate[i].UrlCate">@indexInfo.Top9PostByCate[i].NameCate</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="/@Constant.para.News/@indexInfo.Top9PostByCate[i].Url">@indexInfo.Top9PostByCate[i].Title</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="#">Admin</a></li>
                                        <li>@indexInfo.Top9PostByCate[i].UpdatedDate</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- /post -->

                </div>
                <!-- /row -->
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Fashion & Travel</h2>
                        </div>
                    </div>
                    <!-- post -->
                    @for (var i = 3; i < 6; i++)
                    {
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="/@Constant.para.News/@indexInfo.Top9PostByCate[i].Url"><img src="@indexInfo.Top9PostByCate[i].Image" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="/Category/@indexInfo.Top9PostByCate[i].UrlCate">@indexInfo.Top9PostByCate[i].NameCate</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="/@Constant.para.News/@indexInfo.Top9PostByCate[i].Url">@indexInfo.Top9PostByCate[i].Title</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="#">ADMIN</a></li>
                                        <li>@indexInfo.Top9PostByCate[i].UpdatedDate</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- /post --> 
                </div>
                <!-- /row -->
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Technology & Health</h2>
                        </div>
                    </div>
                    <!-- post -->
                    @for (var i = 6; i < 9; i++)
                    {
                        <div class="col-md-4">
                            <div class="post post-sm">
                                <a class="post-img" href="/@Constant.para.News/@indexInfo.Top9PostByCate[i].Url"><img src="@indexInfo.Top9PostByCate[i].Image" alt=""></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="/Category/@indexInfo.Top9PostByCate[i].UrlCate">@indexInfo.Top9PostByCate[i].NameCate</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a href="/@Constant.para.News/@indexInfo.Top9PostByCate[i].Url">@indexInfo.Top9PostByCate[i].Title</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="#">Admin</a></li>
                                        <li>@indexInfo.Top9PostByCate[i].UpdatedDate</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /post -->
                </div>
                <!-- /row -->
            </div>
            <div class="col-md-4">
                <!-- ad widget-->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="./img/ad-3.jpg" alt="">
                    </a>
                </div>
                <!-- /ad widget -->
                <!-- social widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Social Media</h2>
                    </div>
                    <div class="social-widget">
                        <ul>
                            <li>
                                <a href="#" class="social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <span>21.2K<br>Followers</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <span>10.2K<br>Followers</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-google-plus">
                                    <i class="fa fa-google-plus"></i>
                                    <span>5K<br>Followers</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /social widget -->
                <!-- category widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Categories</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            @foreach (var item in pageInfo.InfoCategory)
                            {
                                <li><a href="/Category/@item.Url">@item.Title <span>@item.TotalPost</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- /category widget -->
                <!-- newsletter widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Newsletter</h2>
                    </div>
                    <div class="newsletter-widget">
                        <form>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                            <input class="input" name="newsletter" placeholder="Enter Your Email">
                            <button class="primary-button">Subscribe</button>
                        </form>
                    </div>
                </div>
                <!-- /newsletter widget -->
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Popular Posts</h2>
                    </div>
                    <!-- post -->
                    @foreach (var item in pageInfo.PostPopular)
                    {
                        <div class="post post-widget">
                            <a class="post-img" href="/@Constant.para.News/@item.Url"><img src="@item.Image" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="/Category/@item.UrlCate">@item.NameCate</a>
                                </div>
                                <h3 class="post-title"><a href="/@Constant.para.News/@item.Url">@item.Title</a></h3>
                            </div>
                        </div>
                    }

                    <!-- /post -->

                </div>
                <!-- /post widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
