@model Models.FEPost.FEPostModel
@using BTL_WEB.Constant
@{
    var pageInfo = ViewData["PageInfo"] as Models.Layout.GetForLayout;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content1 img{
        max-width:750px;
        text-align:center;
    }
</style>
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- post share -->
                <div class="section-row">
                    <div class="post-share">
                        <a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
                        <a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
                        <a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
                        <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
                    </div>
                </div>
                <!-- /post share -->
                <!-- post content -->
                <div class="section-row content1">
                    <h1>@Model.PostDetail.Title</h1>
                    @Html.Raw(Model.PostDetail.Contents)
                </div>
                <!-- /post content -->
                <!-- post tags -->
                <div class="section-row">
                    <div class="post-tags">
                        <ul>
                            <li>TAGS:</li>
                            <li><a href="#">@Model.PostDetail.Tags</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /post tags -->
                <!-- post nav -->
                <div class="section-row">
                    <div class="post-nav">
                        <div class="prev-post">
                            <a class="post-img" href="/@Constant.para.News/@Model.PostNext[0].Url"><img src="@Model.PostNext[0].Image" alt=""></a>
                            <h3 class="post-title"><a href="/@Constant.para.News/@Model.PostNext[0].Url">@Model.PostNext[0].Title</a></h3>
                            <span>Previous post</span>
                        </div>

                        <div class="next-post">
                            <a class="post-img" href="/@Constant.para.News/@Model.PostNext[1].Url"><img src="@Model.PostNext[1].Image" alt=""></a>
                            <h3 class="post-title"><a href="/@Constant.para.News/@Model.PostNext[1].Url">@Model.PostNext[1].Title</a></h3>
                            <span>Next post</span>
                        </div>
                    </div>
                </div>
                <!-- /post nav  -->
                <!-- post author -->
                <div class="section-row">
                    <div class="section-title">
                        <h3 class="title">About <a href="author.html">Admin</a></h3>
                    </div>
                    <div class="author media">
                        <div class="media-left">
                            <a href="#">
                                <img class="author-img media-object" src="./img/avatar-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <ul class="author-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /post author -->
                <!-- /related post -->
                <div>
                    <div class="section-title">
                        <h3 class="title">Related Posts</h3>
                    </div>
                    <div class="row">
                        <!-- post -->
                        @foreach (var item in Model.Top3PostRelative)
                        {
                            <div class="col-md-4">
                                <div class="post post-sm">
                                    <a class="post-img" href="/@Constant.para.News/@item.Url"><img src="@item.Image" alt=""></a>
                                    <div class="post-body">
                                        <div class="post-category">
                                            <a href="/Category/@item.UrlCate">@item.NameCate</a>
                                        </div>
                                        <h3 class="post-title title-sm"><a href="/@Constant.para.News/@item.Url">@item.Title</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="#">Admin</a></li>
                                            <li>@item.UpdatedDate</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- /post -->
                    </div>
                </div>
                <!-- /related post -->
                <!-- post comments -->
                <div class="section-row">
                    <div class="fb-comments" data-href="https://www.facebook.com/nguyen.duong.79219754" data-numposts="5" data-width=""></div>
                </div>
                <!-- /post comments -->
                <!-- post reply -->
                
                <!-- /post reply -->
            </div>
            <div class="col-md-4">
                <!-- ad widget -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="./img/ad-3.jpg" alt="">
                    </a>
                </div>
                <!-- /ad widget -->
                <!-- social widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Social Media</h2>
                    </div>
                    <div class="social-widget">
                        <ul>
                            <li>
                                <a href="#" class="social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <span>21.2K<br>Followers</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <span>10.2K<br>Followers</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-google-plus">
                                    <i class="fa fa-google-plus"></i>
                                    <span>5K<br>Followers</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /social widget -->
                <!-- category widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Categories</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            @foreach (var item in pageInfo.InfoCategory)
                            {
                                <li><a href="/Category/@item.Url">@item.Title <span>@item.TotalPost</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- /category widget -->
                <!-- newsletter widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Newsletter</h2>
                    </div>
                    <div class="newsletter-widget">
                        <form>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                            <input class="input" placeholder="Enter Your Email">
                            <button class="primary-button">Subscribe</button>
                        </form>
                    </div>
                </div>
                <!-- /newsletter widget -->
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Popular Posts</h2>
                    </div>
                    <!-- post -->
                    @foreach (var item in pageInfo.PostPopular)
                    {
                        <div class="post post-widget">
                            <a class="post-img" href="/@Constant.para.News/@item.Url"><img src="@item.Image" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="/Category/@item.UrlCate">@item.NameCate</a>
                                </div>
                                <h3 class="post-title"><a href="/@Constant.para.News/@item.Url">@item.Title</a></h3>
                            </div>
                        </div>
                    }
                   
                    <!-- /post -->
                </div>
                <!-- /post widget -->
                <!-- galery widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Instagram</h2>
                    </div>
                    <div class="galery-widget">
                        <ul>
                            <li><a href="#"><img src="./img/galery-1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="./img/galery-2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="./img/galery-3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="./img/galery-4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="./img/galery-5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="./img/galery-6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /galery widget -->
                <!-- Ad widget -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="./img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /Ad widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
